* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    background-color: #b8b8b8;
}

.App {
    width: 80vw;
    min-height: 100vh;
    height: 100%;
    background-color: #4f4f4f;
    padding-bottom: 100px;
}