.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.titleCont {
    width: 10vw;
    font-size: 2vw;
}

.didTodayContF {
    padding: 15px;
    border-radius: 50%;
    background-color: #aaffb4;
}

.didTodayContF:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s;
}

.didTodayContT {
    padding: 15px;
    background-color: #4cff61;
    border-radius: 50%;
}

.delCont {
    padding: 10px;
    background-color: transparent;
}

.check {
    width: 3vw;
}

.unCheck {
    width: 3vw;
}

.bin {
    width: 3vw;
    border-radius: 50%;
}

.bin:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s;
}

.strikeCont {
    width: 5vw;
    text-align: center;
}

.strike {
    font-size: 2vw;
}