.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.titleCont {
    width: 10vw;
    font-size: 2vw;
}

.didTodayContF button {
    padding: 2vh 2vw;
    background-color: #ff0000;
}

.didTodayContT button {
    padding: 2vh 2vw;
    background-color: #00ff1e;
}

.delCont button {
    padding: 2vh 2vw;
}

.strikeCont {}